equipe_ciclo_kira.json
[{"id":"bf153ccaa602e34b","type":"tab","label":"TelegramBot + Watson","disabled":false,"info":"","env":[]},{"id":"823bf4f9ce6ed658","type":"tab","label":"TelegramBot + Google Calendar","disabled":false,"info":"","env":[]},{"id":"65d8a510bd2c4a44","type":"telegram bot","botname":"Kira Hacka Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true},{"id":"4e38da170d63f7b4","type":"google-credentials","displayName":""},{"id":"97f0a4df41d0193a","type":"telegram receiver","z":"bf153ccaa602e34b","name":"Kira Bot","bot":"65d8a510bd2c4a44","saveDataDir":"","filterCommands":false,"x":90,"y":580,"wires":[["ec53dc78a4b629f7","74f233ef73b4d264"],[]]},{"id":"c36c95bf34d5bbe0","type":"watson-assistant-v2","z":"bf153ccaa602e34b","name":"Kira Watson","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/83a1d220-d918-4036-af0d-ea7b9c2a30ba","assistant_id":"6665e4f8-cbe4-478c-9d44-577301e88ecd","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":630,"y":500,"wires":[["d6c123e38ce897e1","2d68b93fce459569"]]},{"id":"ec53dc78a4b629f7","type":"function","z":"bf153ccaa602e34b","name":"Prepare for conversation","func":"msg.chatId =  msg.payload.chatId;\nmsg.payload =  msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":600,"wires":[["c36c95bf34d5bbe0"]]},{"id":"9a23d1b25feb7e66","type":"telegram sender","z":"bf153ccaa602e34b","name":"","bot":"65d8a510bd2c4a44","haserroroutput":false,"outputs":1,"x":1130,"y":700,"wires":[[]]},{"id":"d6c123e38ce897e1","type":"function","z":"bf153ccaa602e34b","name":"Prepare for telegram","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":580,"wires":[["9a23d1b25feb7e66"]]},{"id":"74f233ef73b4d264","type":"debug","z":"bf153ccaa602e34b","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":440,"wires":[]},{"id":"2d68b93fce459569","type":"debug","z":"bf153ccaa602e34b","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":440,"wires":[]},{"id":"efed5851affb165e","type":"telegram sender","z":"823bf4f9ce6ed658","name":"","bot":"65d8a510bd2c4a44","haserroroutput":false,"outputs":1,"x":1770,"y":460,"wires":[[]]},{"id":"8121380ac444cb8d","type":"debug","z":"823bf4f9ce6ed658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":440,"wires":[]},{"id":"bf751b71a7924563","type":"function","z":"823bf4f9ce6ed658","name":"Transfer message to telegram","func":"msg.payload = {\n  chatId : 5103501794,\n    type : \"message\",\n    content : \"Título: \" + msg.payload.title + \" \\nData de início: \" + dataAtualFormatada(msg.payload.data.start.dateTime) + \" \\nData final: \" + dataAtualFormatada(msg.payload.data.end.dateTime) + \" \\nCriado por: \" + msg.payload.data.creator.email\n};\n\nfunction dataAtualFormatada(dataSalva){\nvar brazilianDate =  new Date(dataSalva).toLocaleString(\"pt-BR\", {timeZone: \"America/Sao_Paulo\"});\nreturn brazilianDate;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":700,"wires":[["8ea7ab00bc4dca7c","efed5851affb165e"]]},{"id":"8ea7ab00bc4dca7c","type":"debug","z":"823bf4f9ce6ed658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":480,"wires":[]},{"id":"03411c14ed843b98","type":"google calendar in","z":"823bf4f9ce6ed658","google":"4e38da170d63f7b4","name":"","calendar":"","offsetType":"before","offsetFrom":"start","offset":"1","offsetUnits":"minutes","x":760,"y":580,"wires":[["bf751b71a7924563","8121380ac444cb8d"]]},{"id":"9e1b57a7d705efe9","type":"inject","z":"823bf4f9ce6ed658","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":960,"wires":[["ef7965a3341b0584"]]},{"id":"ef7965a3341b0584","type":"function","z":"823bf4f9ce6ed658","name":"","func":"msg.payload = {\n  \"payload\": {\n    \"chatId\": 5103501794,\n    \"type\": \"message\",\n    \"content\": \"Titulo teste start Sun Jul 03 2022 03:42:00 GMT+0000 (Coordinated Universal Time) end Sun Jul 03 2022 04:42:00 GMT+0000 (Coordinated Universal Time) createdBy monique.azevedo13022@gmail.com\",\n    \"options\": {\n      \"chat_id\": 5103501794,\n      \"text\": \"Titulo teste start Sun Jul 03 2022 03:42:00 GMT+0000 (Coordinated Universal Time) end Sun Jul 03 2022 04:42:00 GMT+0000 (Coordinated Universal Time) createdBy monique.azevedo13022@gmail.com\"\n    }\n  },\n  \"title\": \"teste\",\n  \"data\": {\n    \"kind\": \"calendar#event\",\n    \"etag\": \"\\\"3313639180972000\\\"\",\n    \"id\": \"3c2oda6lrbaqne1dmlmqlco0fu\",\n    \"status\": \"confirmed\",\n    \"htmlLink\": \"https://www.google.com/calendar/event?eid=M2Myb2RhNmxyYmFxbmUxZG1sbXFsY28wZnUgbW9uaXF1ZS5hemV2ZWRvMTMwMjJAbQ\",\n    \"created\": \"2022-07-03T03:39:35.000Z\",\n    \"updated\": \"2022-07-03T03:39:50.486Z\",\n    \"summary\": \"teste\",\n    \"creator\": {\n      \"email\": \"monique.azevedo13022@gmail.com\",\n      \"self\": true\n    },\n    \"organizer\": {\n      \"email\": \"monique.azevedo13022@gmail.com\",\n      \"self\": true\n    },\n    \"start\": {\n      \"dateTime\": \"2022-07-03T00:42:00-03:00\",\n      \"timeZone\": \"America/Sao_Paulo\"\n    },\n    \"end\": {\n      \"dateTime\": \"2022-07-03T01:42:00-03:00\",\n      \"timeZone\": \"America/Sao_Paulo\"\n    },\n    \"iCalUID\": \"3c2oda6lrbaqne1dmlmqlco0fu@google.com\",\n    \"sequence\": 0,\n    \"reminders\": {\n      \"useDefault\": true\n    },\n    \"eventType\": \"default\"\n  },\n  \"_msgid\": \"6582e40e82fdedb2\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":840,"wires":[["bf751b71a7924563"]]}]